{{#section 'head'}}
    <script type="text/javascript" src="javascripts/getNews.js"></script>
{{/section}}
<div class="page-content no-margin" ng-app="myApp" ng-controller="mainController">
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h5 class="row-title before-purple margin-bottom-20">新闻列表</h5>
                <div class="widget with-footer">
                    <div class="widget-body">
                        <div class="dataTables_wrapper form-inline no-footer">
                            <table class="newList table table-hover table-striped table-bordered dataTable no-footer margin-top-20">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>标题</th>
                                    <th>爬虫/添加日期</th>
                                    <th>发布日期</th>
                                    <th>作者</th>
                                    <th>来源</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="news in news">
                                    <td>\{{$index+1+(page-1)*(pageCount)}}</td>
                                    <td><a href="javascript:void(0) " ng-click='showNews(news.news_id)'> \{{news.title}}</a></td>
                                    <td>\{{news.crawlDate}}</td>
                                    <td>\{{news.date}}</td>
                                    <td>\{{news.author}}</td>
                                    <td>\{{news.source}}</td>
                                    <td>
                                        <button class="btn btn-xs" type="button" ng-click='showNews(news.news_id)'>详情</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="footer margin-top-30">
                                <div class="row DTTTFooter">
                                    <div class="col-sm-6">
                                        <div class="dataTables_info" id="simpledatatable_info" role="status" aria-live="polite">
                                            一共有\{{allCount}}条记录，每页显示\{{pageCount}}条记录，一共有\{{allPages}}页，当前是第\{{page}}页
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_bootstrap pull-right" id="simpledatatable_paginate">
                                            <ul class="pagination form-inline">
                                                <li class="prev" >
                                                    <a href="javascript:void (0)" id="prev" ng-click="changePage('prev', nowPage-1)">Prev</a>
                                                </li>
                                                <li class="active pull-left">
                                                    <input id="nowPage" ng-model="nowPage" type="text" ng-keyup="changePage('num', nowPage, $event)" value="1" class="showPage form-control margin-left-10 margin-right-10 no-padding text-align-center" style="height: 32px;width:50px;">
                                                </li>
                                                <li class="next">
                                                    <a href="javascript:void (0)" id="next" ng-click="changePage('next', nowPage+1)">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'jquery'}}

{{/section}}